/* app.css */
:root {
    --primary-color: black;
    --secondary-color: #db2004;
    --font-color: #222;
    --bg-color: whitesmoke;
    --heading-bg-color: whitesmoke;
    --sidebar-bg-color: #ddd;
    --sidebar-contour: "#fff";
    --inset-color: rgba(0, 0, 0, 0.20);
}

[data-theme="dark"] {
    --primary-color: white;
    --secondary-color: #db2004;
    --font-color: #ddd;
    --bg-color: #0a0a0a;
    --heading-bg-color: #0a0a0a;   /* #0a0a0a is opposite of whitesmoke (#f5f5f5) */
    --sidebar-bg-color: #222; /* rgba(40, 40, 40, 0.6); */
    --sidebar-contour: "#000";
    --inset-color: rgba(255, 255, 255, 0.40);
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--font-color);
}