/* layout.css */


/************************************
    SUGGESTED LAYOUT
  GRID:
    +-------------------+
    + A + MAIN OVERVIEW +
    + S +---------------+
    + I + MAIN          +
    + D +---------------+
    + E + FOOTER        + 
    +-------------------+

  Aside is a vertical flexbox, Header, Main, Footer are horizontal flexboxes.

  Aside contains the wire, can potentially be equiped with TABS.
  Header is a collection of highlighted widget.
  Main is a collection of widgets. (The first one should be a map, that can stread as wide/high as necessary.)
  Footer is a status line.

 ************************************/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        /*  'header'*/
        'main'
        'footer';
}

.header {
    grid-area: header;
    background-color: whitesmoke;
}

.aside {
    grid-area: aside;
    background-color: whitesmoke;
}

.main {
    grid-area: main;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: whitesmoke;
}

/* flexing header and footer*/
.header,
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #db2004;
    padding: 0 15px;
}

/* flexing aside */
.aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    z-index: 2;
    transform: translateX(-245px);
    padding: 10;
}

.aside.active {
    transform: translateX(0);
}

.aside_list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.aside_list-item {
    padding: 10px 10px 10px 20px;
}

.aside_list-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/* Layout for main content overview  and its cards*/
.main_overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.overview_card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 170px;
    border: 1px solid black;
    border-radius: 4px;
}

/* Layout for main-cards section // below main_overview */
.main_cards {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        'card1'
        'card2'
        'card3';
    grid-gap: 10px;
}

.card {
    padding: 6px;
    border: 1px solid #db2004;
    border-radius: 4px;
}

.aside-card {
    margin-top: 20px;
    padding: 6px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.card:first-child {
    grid-area: card1;
}

.card:nth-child(2) {
    grid-area: card2;
}

.card:nth-child(3) {
    grid-area: card3;
}

/* responsive layout */
@media only screen and (min-width: 750px) {
    .grid-container {
        display: grid;
        grid-template-columns: 240px 1fr;
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
            'aside header'
            'aside main'
            'aside footer';
        height: 100vh;
    }

    .aside {
        display: flex;
        flex-direction: column;
        position: relative;
        transform: translateX(0);
    }

    .main_cards {
        margin: 10px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            'card1 card2'
            'card1 card3';
        grid-gap: 10px;
    }
}

.menu-icon {
    position: fixed;
    display: flex;
    top: 2px;
    left: 8px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    color: black;
}

.header_search {
    margin-left: 24px;
}

.aside_close-icon {
    position: absolute;
    visibility: visible;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 750px) {
    .aside_close-icon {
        display: none;
    }
}