/* map.css */
#map {
    height: 700px;
}

.leaflet-control-layers-group label input.leaflet-control-layers-selector {
    margin-left: 10px;
}

.leaflet-control-layers {
    box-shadow: none;
    width: 100%;
    color: var(--heading-color);
    background-color: var(--translucent-bg);
}

.gip-marker {
    background-color: transparent;
}

button.easy-button-button {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}