/* CLIENT SETUP */
h1.sidebar-header.client {
    color: #db2004;
}

.client.badge {
    background: #db2004;
    border-color: #db2004;
}

.leaflet-bar a.client:hover {
    color: #db2004;
}

.active .client,
.client:hover {
    color: #db2004;
}

.about.client {
    background-image: url(i/red-32.png);
}

