doctype html
html
  head
  title Geo Intelligent Viewer
  meta(charset='utf-8')
  meta(name='description' content="Oscars' Geo Intelligent Viewer JS 2020")
  meta(name='keyword' content='oscars gip geo intelligent platform viewer')
  meta(name='author' content='oscars')
  link(rel='icon' type='image/png' href='favicon.ico')
  link(rel="stylesheet" href="app.css")
body
  .grid-container
    .menu-icon
      i.las.la-bars
    aside#sidebar.aside
      .aside_close-icon
        i.las.la-times
      div(style='text-align: center;')
        a(href='' title="Oscars' Geo Intelligent Viewer" alt='Geo Intelligent Viewer')
          img(src='src/assets/i/givjs.svg' alt='Geo Intelligent Viewer' width='70%')
      template#sidebar-elem
        .aside-card.here
      template#template-wire
        ul.wire
      template#template-wire-el
        li.wire-el
    header.header
    template#template-clock
      .clock
        .wrap
          span.hour
          span.minute
          span.second
          span.dot
    main.main
      #highlight.main_overview
        template#highlight-elem
          .overview_card
            .overview_card-icon
              i.las.la-icon.la-4x(title='Title')
            .overview_card-content.here
      #main.main_cards
        template#main-elem
          .card.here
      #status.main_overview
        template#status-elem
          .overview_card
            .overview_card-icon
              i.las.la-icon.la-4x(title='Title')
            .overview_card-content.here
    footer.footer
  //
    --
    --    JAVASCRIPT (LAYOUT HELPER)
    --
  script(type='text/javascript').
    const menuIcon = document.querySelector(".menu-icon");
    const aside = document.querySelector(".aside");
    const asideClose = document.querySelector(".aside_close-icon");
    function toggle(el, className) {
    if (el.classList.contains(className)) {
    el.classList.remove(className);
    } else {
    el.classList.add(className);
    }
    }
    menuIcon.addEventListener("click", function() {
    toggle(aside, "active");
    });
    asideClose.addEventListener("click", function() {
    toggle(aside, "active");
    });
  //
    --
    --    JAVASCRIPT (APP)
    --
  script(src='app.js')
