aside.aside
  .aside_close-icon
    i.las.la-times
  .tabbed
    input(type='radio' name='name' checked='checked')
    .tab-card
      h1 Wire
      #wire.aside-card
    input(type='radio' name='name')
    .tab-card
      h1 Info
      #info.aside-card
    input(type='radio' name='name')
    .tab-card
      h1 Turnarounds
      #turnaround-gantts.aside-card
    input(type='radio' name='name')
    .tab-card
      h1 More...
      #more.aside-card Hi
