aside.aside
  .aside_close-icon
    i.las.la-times
  .tabs
    input#tabone(type='radio' name='tabs' checked='checked')
    label(for='tabone') Wire
    .tab
      h1 Wire
      #wire.aside-card
    input#tabtwo(type='radio' name='tabs')
    label(for='tabtwo') Info
    .tab
      h1 Info
      #side-info.aside-card
    input#tabthree(type='radio' name='tabs')
    label(for='tabthree') Turnarounds
    .tab
      h1 Turnarounds
      #turnaround-gantts.aside-card