<!DOCTYPE html>

<head>
    <title>Geo Intelligent Viewer JS 2020</title>
    <meta charset="utf-8">
    <meta name="description" content="Oscars' Geo Intelligent Viewer">
    <meta name="keyword" content="oscars gip geo intelligent platform viewer">
    <meta name="author" content="oscars">
    <link rel="icon" type="image/png" href="dist/favicon.ico"><!-- Structure of the page-->
    <!-- App-->
    <link rel="stylesheet" href="dist/app.css">
    <link rel="stylesheet" href="src/assets/css/tabs-v.css">
</head>
<div class="grid-container">
    <div class="menu-icon"><i class="las la-bars"></i></div>
    <aside class="aside">
        <div class="aside_close-icon"><i class="las la-times"></i></div>
        <div class="tabbed">
            <input type="radio" name="tabbed" checked="checked" id="tab1">
            <div class="tab-card">
                <h1>Wire</h1>
                <div class="aside-card" id="wire"></div>
            </div>
            <input type="radio" name="tabbed">
            <div class="tab-card">
                <h1>Info</h1>
                <div class="aside-card" id="info"></div>
            </div>
            <input type="radio" name="tabbed">
            <div class="tab-card">
                <h1>Turnarounds</h1>
                <div class="aside-card" id="turnaround-gantts"></div>
            </div>
            <input type="radio" name="tabbed">
            <div class="tab-card">
                <h1>More...</h1>
                <div class="aside-card" id="more">Hi</div>
            </div>
        </div>
    </aside>
    <main class="main">
        <div class="main_overview">
            <div class="overview_card">
                <div class="overview_card-info"><i class="las la-plane la-4x"></i><i class="las la-parking la-4x"></i></div>
                <div class="overview_card-icon" id="parking-occupancy"></div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info"><i class="las la-plane-arrival la-4x"></i></div>
                <div class="overview_card-icon" id="forecast-arrival"></div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info"><i class="las la-plane-departure la-4x"></i></div>
                <div class="overview_card-icon" id="forecast-departure"></div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info"><i class="las la-clock la-4x"></i></div>
                <div class="overview_card-icon">
                    <div id="clock"></div>
                    <div id="dark-toggle"></div>
                </div>
            </div>
        </div>
        <div class="main_cards">
            <div class="card" id="map"></div>
            <div class="card" id="flightboard-arrival"></div>
            <div class="card" id="flightboard-departure"></div>
        </div>
    </main>
    <footer class="footer"></footer>
</div>
<!----
--    TEMPLATES
----><template id="template-clock">
    <div class="clock">
        <div class="wrap"><span class="hour"></span><span class="minute"></span><span class="second"></span><span class="dot"></span></div>
    </div>
</template><template id="template-wire">
    <ul class="wire"></ul>
</template><template id="template-wire-el">
    <li class="wire-el"></li>
</template>
<!----
--    JAVASCRIPT (LAYOUT)
---->
<script type="text/javascript">
const menuIcon = document.querySelector(".menu-icon");
const aside = document.querySelector(".aside");
const asideClose = document.querySelector(".aside_close-icon");

function toggle(el, className) {
    if (el.classList.contains(className)) {
        el.classList.remove(className);
    } else {
        el.classList.add(className);
    }
}
menuIcon.addEventListener("click", function() {
    toggle(aside, "active");
});
asideClose.addEventListener("click", function() {
    toggle(aside, "active");
});
</script>
<!----
--    JAVASCRIPT (APP)
---->
<script src="dist/app.js"></script>