<!DOCTYPE html>
<html>

<template id="sidebar-elem">
    <div class="aside-card" class="here"></div>
</template>
<template id="highlight-elem">
    <div class="overview_card">
        <div class="overview_card-info"><i class="las la-plane la-4x" title="Planes parked"></i><i class="las la-parking la-4x"></i></div>
        <div class="overview_card-icon" class="here"></div>
    </div>
</template>
<template id="main-elem">
    <div class="card" class="here"></div>
</template>
<template id="template-clock">
    <div class="clock">
        <div class="wrap"><span class="hour"></span><span class="minute"></span><span class="second"></span><span class="dot"></span></div>
    </div>
</template>
<template id="template-wire">
    <ul class="wire"></ul>
</template>
<template id="template-wire-el">
    <li class="wire-el"></li>
</template>

</html>